################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DevopsBase/.vs/DevopsBase/v16
/DevopsBase/DevopsBase/bin
/DevopsBase/DevopsBase/obj
/DevopsBase/.vs/DevopsBase/config
